In [1]:
import pandas as pd
import numpy as np
import sys

In [ ]:
click_logs = pd.read_csv("https://www.techgig.com/files/DataScienceData/326708/click_log.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,24,25,26,29,30,31,32,33,34,46,47,48,49,50,51,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
click_logs.shape

(244864, 55)

In [ ]:
click_logs.head()

   Unnamed: 0                                      imprId  ... imprUserId  optout
0           0  72efd138-0f6a-4aed-bd3f-9bdd70c0e869-1sjts  ...        NaN     NaN
1           0   210a7e16-6783-46a5-9246-c635db091490-3qpg  ...        NaN     NaN
2           0  179d3fbb-3e10-435d-851d-f65029ef2eb4-10ntc  ...        NaN     NaN
3           0  79ce617b-88bf-46db-8069-6c892df6a306-1sjo8  ...        NaN     NaN
4           0  c8f88058-af7e-4284-8c88-2410d94f82e3-1sjo8  ...        NaN     NaN

[5 rows x 55 columns]

In [ ]:

961+455

1416

In [ ]:
train_df = pd.read_csv("https://www.techgig.com/files/DataScienceData/326708/Training%20Data.csv")
test_df = pd.read_csv("https://www.techgig.com/files/DataScienceData/326708/Test%20Data.csv")

In [ ]:
train_df.drop_duplicates(inplace = True)

In [ ]:
train_df.head()

   clientid_cr  ... conversion_fraud
0        75694  ...             True
1        75694  ...             True
2        75694  ...             True
3        75694  ...             True
4        30431  ...             True

[5 rows x 56 columns]

In [ ]:
print(train_df.shape,test_df.shape)
test_df.info()

(961, 56) (455, 56)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 56 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   record_id                      455 non-null    int64
 1   clientid_cr                    455 non-null    int64
 2   clmbuserid_cr                  455 non-null    object
 3   conversiontime_cr              455 non-null    int64
 4   imprid_cr                      455 non-null    object
 5   adslotdimid_cr                 455 non-null    int64
 6   algo_cr                        455 non-null    int64
 7   audiences_cr                   369 non-null    object
 8   clickbid_cr                    305 non-null    float64
 9   geodimid_cr                    455 non-null    int64
 10  ip_cr                          455 non-null    object
 11  itemcolumbiaid_cr              455 non-null    int64
 12  itemid_cr                      455 non-null    int64
 13  position_cr                    455 non-null    int64
 14  pubclientid_cr                 455 non-null    int64
 15  refurl_cr                      408 non-null    object
 16  siteId_cr                      455 non-null    int64
 17  templateid_cr                  414 non-null    float64
 18  goalid_cr                      455 non-null    int64
 19  time_cr                        455 non-null    int64
 20  adLogType_cr                   455 non-null    int64
 21  v_cr                           455 non-null    int64
 22  allAudiences_cr                432 non-null    object
 23  pricingtype_cr                 455 non-null    int64
 24  osId_cr                        455 non-null    int64
 25  browserId_cr                   455 non-null    int64
 26  cityId_cr                      455 non-null    int64
 27  stateId_cr                     455 non-null    int64
 28  modelDimId_cr                  455 non-null    int64
 29  lookUpFrom_cr                  455 non-null    int64
 30  connTypeDimId_cr               455 non-null    int64
 31  ispDimId_cr                    455 non-null    int64
 32  countryDimId_cr                455 non-null    int64
 33  goalTypeId_cr                  455 non-null    int64
 34  conversionDurationInMillis_cr  455 non-null    int64
 35  impressionTimeInMillis_cr      455 non-null    int64
 36  clickTimeInMillis_cr           379 non-null    float64
 37  osVerDimId_cr                  455 non-null    int64
 38  uuidSource_cr                  455 non-null    int64
 39  geoGrpDimId_cr                 455 non-null    int64
 40  stateGrpDimId_cr               413 non-null    float64
 41  deviceId_cr                    76 non-null     float64
 42  uvh_cr                         0 non-null      float64
 43  uv_cr                          18 non-null     float64
 44  platformId_cr                  76 non-null     float64
 45  sdkVersion_cr                  5 non-null      object
 46  usrClusterId_cr                163 non-null    float64
 47  cityGrpDimId_cr                302 non-null    float64
 48  siteClusterIds_cr              205 non-null    float64
 49  refClusterId_cr                35 non-null     float64
 50  paid_cr                        77 non-null     float64
 51  spend_cr                       77 non-null     float64
 52  attributionType_cr             77 non-null     float64
 53  conversionid_cr                1 non-null      object
 54  optimize_on_cr                 18 non-null     object
 55  bundleId_cr                    2 non-null      float64
dtypes: float64(16), int64(31), object(9)
memory usage: 199.2+ KB

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961 entries, 0 to 964
Data columns (total 56 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   clientid_cr                    961 non-null    int64
 1   clmbuserid_cr                  961 non-null    object
 2   conversiontime_cr              961 non-null    float64
 3   imprid_cr                      961 non-null    object
 4   adslotdimid_cr                 961 non-null    int64
 5   algo_cr                        945 non-null    float64
 6   audiences_cr                   766 non-null    object
 7   clickbid_cr                    669 non-null    float64
 8   geodimid_cr                    961 non-null    int64
 9   ip_cr                          945 non-null    object
 10  itemcolumbiaid_cr              961 non-null    int64
 11  itemid_cr                      961 non-null    int64
 12  position_cr                    945 non-null    float64
 13  pubclientid_cr                 961 non-null    int64
 14  refurl_cr                      840 non-null    object
 15  siteId_cr                      961 non-null    int64
 16  templateid_cr                  858 non-null    float64
 17  goalid_cr                      961 non-null    int64
 18  time_cr                        961 non-null    float64
 19  adLogType_cr                   961 non-null    int64
 20  v_cr                           960 non-null    float64
 21  allAudiences_cr                914 non-null    object
 22  pricingtype_cr                 961 non-null    int64
 23  osId_cr                        944 non-null    float64
 24  browserId_cr                   944 non-null    float64
 25  cityId_cr                      945 non-null    float64
 26  stateId_cr                     945 non-null    float64
 27  modelDimId_cr                  944 non-null    float64
 28  lookUpFrom_cr                  961 non-null    int64
 29  connTypeDimId_cr               945 non-null    object
 30  ispDimId_cr                    945 non-null    float64
 31  countryDimId_cr                945 non-null    float64
 32  goalTypeId_cr                  961 non-null    int64
 33  conversionDurationInMillis_cr  945 non-null    float64
 34  impressionTimeInMillis_cr      945 non-null    float64
 35  clickTimeInMillis_cr           833 non-null    float64
 36  osVerDimId_cr                  944 non-null    float64
 37  uuidSource_cr                  945 non-null    float64
 38  geoGrpDimId_cr                 945 non-null    float64
 39  stateGrpDimId_cr               860 non-null    float64
 40  deviceId_cr                    111 non-null    float64
 41  uvh_cr                         0 non-null      float64
 42  uv_cr                          29 non-null     float64
 43  platformId_cr                  112 non-null    float64
 44  sdkVersion_cr                  7 non-null      object
 45  usrClusterId_cr                354 non-null    object
 46  cityGrpDimId_cr                621 non-null    float64
 47  siteClusterIds_cr              412 non-null    object
 48  refClusterId_cr                66 non-null     float64
 49  paid_cr                        190 non-null    float64
 50  spend_cr                       190 non-null    float64
 51  attributionType_cr             190 non-null    float64
 52  conversionid_cr                20 non-null     object
 53  optimize_on_cr                 40 non-null     object
 54  bundleId_cr                    5 non-null      float64
 55  conversion_fraud               961 non-null    bool
dtypes: bool(1), float64(31), int64(12), object(12)
memory usage: 421.4+ KB

In [ ]:
target = train_df["conversion_fraud"]

In [ ]:
df = pd.concat([train_df,test_df])

In [ ]:
df.shape

(1416, 57)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1416 entries, 0 to 454
Data columns (total 57 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   clientid_cr                    1416 non-null   int64
 1   clmbuserid_cr                  1416 non-null   object
 2   conversiontime_cr              1416 non-null   float64
 3   imprid_cr                      1416 non-null   object
 4   adslotdimid_cr                 1416 non-null   int64
 5   algo_cr                        1400 non-null   float64
 6   audiences_cr                   1135 non-null   object
 7   clickbid_cr                    974 non-null    float64
 8   geodimid_cr                    1416 non-null   int64
 9   ip_cr                          1400 non-null   object
 10  itemcolumbiaid_cr              1416 non-null   int64
 11  itemid_cr                      1416 non-null   int64
 12  position_cr                    1400 non-null   float64
 13  pubclientid_cr                 1416 non-null   int64
 14  refurl_cr                      1248 non-null   object
 15  siteId_cr                      1416 non-null   int64
 16  templateid_cr                  1272 non-null   float64
 17  goalid_cr                      1416 non-null   int64
 18  time_cr                        1416 non-null   float64
 19  adLogType_cr                   1416 non-null   int64
 20  v_cr                           1415 non-null   float64
 21  allAudiences_cr                1346 non-null   object
 22  pricingtype_cr                 1416 non-null   int64
 23  osId_cr                        1399 non-null   float64
 24  browserId_cr                   1399 non-null   float64
 25  cityId_cr                      1400 non-null   float64
 26  stateId_cr                     1400 non-null   float64
 27  modelDimId_cr                  1399 non-null   float64
 28  lookUpFrom_cr                  1416 non-null   int64
 29  connTypeDimId_cr               1400 non-null   object
 30  ispDimId_cr                    1400 non-null   float64
 31  countryDimId_cr                1400 non-null   float64
 32  goalTypeId_cr                  1416 non-null   int64
 33  conversionDurationInMillis_cr  1400 non-null   float64
 34  impressionTimeInMillis_cr      1400 non-null   float64
 35  clickTimeInMillis_cr           1212 non-null   float64
 36  osVerDimId_cr                  1399 non-null   float64
 37  uuidSource_cr                  1400 non-null   float64
 38  geoGrpDimId_cr                 1400 non-null   float64
 39  stateGrpDimId_cr               1273 non-null   float64
 40  deviceId_cr                    187 non-null    float64
 41  uvh_cr                         0 non-null      float64
 42  uv_cr                          47 non-null     float64
 43  platformId_cr                  188 non-null    float64
 44  sdkVersion_cr                  12 non-null     object
 45  usrClusterId_cr                517 non-null    object
 46  cityGrpDimId_cr                923 non-null    float64
 47  siteClusterIds_cr              617 non-null    object
 48  refClusterId_cr                101 non-null    float64
 49  paid_cr                        267 non-null    float64
 50  spend_cr                       267 non-null    float64
 51  attributionType_cr             267 non-null    float64
 52  conversionid_cr                21 non-null     object
 53  optimize_on_cr                 58 non-null     object
 54  bundleId_cr                    7 non-null      float64
 55  conversion_fraud               961 non-null    object
 56  record_id                      455 non-null    float64
dtypes: float64(32), int64(12), object(13)
memory usage: 641.6+ KB

In [ ]:
joined_df = pd.merge_ordered(df,click_logs,how='left',left_on=["imprid_cr"],right_on=['imprId'])

In [ ]:
len(np.unique(joined_df[joined_df['record_id'].notnull()]['record_id']))

455

In [ ]:
columns_train = [joined_df.columns[i] for i in [0,13,1,3,15,17,25,26,31,24,4,33,34,30,36,55,56]]
print(columns_train)

['clientid_cr', 'pubclientid_cr', 'clmbuserid_cr', 'imprid_cr', 'siteId_cr', 'goalid_cr', 'cityId_cr', 'stateId_cr', 'countryDimId_cr', 'browserId_cr', 'adslotdimid_cr', 'conversionDurationInMillis_cr', 'impressionTimeInMillis_cr', 'ispDimId_cr', 'osVerDimId_cr', 'conversion_fraud', 'record_id']

In [ ]:
columns_train.append("ip")
columns_train.append("advClientId")
columns_train.append("devTypeDimId")

In [ ]:
print(columns_train)

['clientid_cr', 'pubclientid_cr', 'clmbuserid_cr', 'imprid_cr', 'siteId_cr', 'goalid_cr', 'cityId_cr', 'stateId_cr', 'countryDimId_cr', 'browserId_cr', 'adslotdimid_cr', 'conversionDurationInMillis_cr', 'impressionTimeInMillis_cr', 'ispDimId_cr', 'osVerDimId_cr', 'conversion_fraud', 'record_id', 'ip', 'advClientId', 'devTypeDimId']

In [ ]:
click_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244864 entries, 0 to 244863
Data columns (total 55 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 244864 non-null  int64
 1   imprId                     244864 non-null  object
 2   clmbUserId                 244864 non-null  object
 3   adSltDimId                 244864 non-null  int64
 4   auds                       181829 non-null  object
 5   allAuds                    231529 non-null  object
 6   itemid                     244864 non-null  int64
 7   algo                       244864 non-null  int64
 8   advClientId                244864 non-null  int64
 9   pubClientId                244864 non-null  int64
 10  itmClmbLId                 244864 non-null  int64
 11  tmpltId                    222565 non-null  float64
 12  refUrl                     198414 non-null  object
 13  clickBid                   141858 non-null  float64
 14  clickXForwardedFor         222565 non-null  object
 15  position                   244864 non-null  int64
 16  paid                       244864 non-null  int64
 17  siteId                     244864 non-null  int64
 18  callIdentifier             243724 non-null  object
 19  crtd                       244864 non-null  float64
 20  adslotRatio                215197 non-null  float64
 21  pricingType                222565 non-null  float64
 22  usrClusterId               160584 non-null  object
 23  siteClusterIds             188144 non-null  object
 24  ctxCatId                   226457 non-null  object
 25  uuidSource                 236752 non-null  object
 26  clickIp                    222565 non-null  object
 27  clickGeoId                 222565 non-null  float64
 28  esi                        163350 non-null  float64
 29  adBlockerDetectionValueId  136152 non-null  object
 30  bundleId                   100865 non-null  object
 31  impressionServedTimeStamp  156760 non-null  object
 32  appver                     126985 non-null  object
 33  topic                      244864 non-null  object
 34  ip                         244864 non-null  object
 35  geoDimId                   244864 non-null  int64
 36  countryDimId               244864 non-null  int64
 37  geoGrpDimId                233484 non-null  float64
 38  cityDimId                  238775 non-null  float64
 39  cityGrpDimId               210261 non-null  float64
 40  stateDimId                 242115 non-null  float64
 41  stateGrpDimId              234919 non-null  float64
 42  ispDimId                   244732 non-null  float64
 43  osDimId                    244643 non-null  float64
 44  osVerDimId                 244619 non-null  float64
 45  devTypeDimId               229508 non-null  float64
 46  vendorDimId                238984 non-null  object
 47  modelDimId                 222249 non-null  object
 48  connTypeDimId              184365 non-null  object
 49  browserDimId               164599 non-null  object
 50  refClusterId               56251 non-null   object
 51  fraud                      20687 non-null   object
 52  cpa                        53476 non-null   object
 53  imprUserId                 51007 non-null   object
 54  optout                     20318 non-null   object
dtypes: float64(16), int64(12), object(27)
memory usage: 102.7+ MB

In [ ]:
df_new = joined_df[columns_train]

In [ ]:
df_new.columns

Index(['clientid_cr', 'pubclientid_cr', 'clmbuserid_cr', 'imprid_cr',
       'siteId_cr', 'goalid_cr', 'cityId_cr', 'stateId_cr', 'countryDimId_cr',
       'browserId_cr', 'adslotdimid_cr', 'conversionDurationInMillis_cr',
       'impressionTimeInMillis_cr', 'ispDimId_cr', 'osVerDimId_cr',
       'conversion_fraud', 'record_id', 'ip', 'advClientId', 'devTypeDimId'],
      dtype='object')

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1531 entries, 0 to 1530
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   clientid_cr                    1531 non-null   int64
 1   pubclientid_cr                 1531 non-null   int64
 2   clmbuserid_cr                  1531 non-null   object
 3   imprid_cr                      1531 non-null   object
 4   siteId_cr                      1531 non-null   int64
 5   goalid_cr                      1531 non-null   int64
 6   cityId_cr                      1515 non-null   float64
 7   stateId_cr                     1515 non-null   float64
 8   countryDimId_cr                1515 non-null   float64
 9   browserId_cr                   1514 non-null   float64
 10  adslotdimid_cr                 1531 non-null   int64
 11  conversionDurationInMillis_cr  1515 non-null   float64
 12  impressionTimeInMillis_cr      1515 non-null   float64
 13  ispDimId_cr                    1515 non-null   float64
 14  osVerDimId_cr                  1514 non-null   float64
 15  conversion_fraud               1042 non-null   object
 16  record_id                      489 non-null    float64
 17  ip                             1303 non-null   object
 18  advClientId                    1303 non-null   float64
 19  devTypeDimId                   1207 non-null   float64
dtypes: float64(11), int64(5), object(4)
memory usage: 291.2+ KB

In [ ]:
null_cols_to_encode = ["cityId_cr"  ,"stateId_cr" ,"countryDimId_cr","browserId_cr","ispDimId_cr","osVerDimId_cr","ip","advClientId","devTypeDimId"]

In [ ]:
for col in null_cols_to_encode:
  dt =  df_new[col].dtype
  if dt == 'float64':
    df_new[col].fillna(-1,inplace=True)
  elif dt == 'object':
    df_new[col].fillna("Nan",inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [13]:
df_new = pd.read_csv("./train.csv")
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531 entries, 0 to 1530
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1531 non-null   int64
 1   clientid_cr                    1531 non-null   int64
 2   pubclientid_cr                 1531 non-null   int64
 3   clmbuserid_cr                  1531 non-null   object
 4   imprid_cr                      1531 non-null   object
 5   siteId_cr                      1531 non-null   int64
 6   goalid_cr                      1531 non-null   int64
 7   cityId_cr                      1531 non-null   float64
 8   stateId_cr                     1531 non-null   float64
 9   countryDimId_cr                1531 non-null   float64
 10  browserId_cr                   1531 non-null   float64
 11  adslotdimid_cr                 1531 non-null   int64
 12  conversionDurationInMillis_cr  1515 non-null   float64
 13  impressionTimeInMillis_cr      1515 non-null   float64
 14  ispDimId_cr                    1531 non-null   float64
 15  osVerDimId_cr                  1531 non-null   float64
 16  conversion_fraud               1042 non-null   object
 17  record_id                      489 non-null    float64
 18  ip                             1531 non-null   object
 19  advClientId                    1531 non-null   float64
 20  devTypeDimId                   1531 non-null   float64
dtypes: float64(11), int64(6), object(4)
memory usage: 251.3+ KB

In [14]:
df_new['conversionDurationInMillis_cr'].fillna(df_new['conversionDurationInMillis_cr'].quantile(0.6),inplace=True)
df_new['impressionTimeInMillis_cr'].fillna(df_new['impressionTimeInMillis_cr'].quantile(0.6),inplace=True)

In [15]:
norm_cdm = (df_new['conversionDurationInMillis_cr'] - df_new['conversionDurationInMillis_cr'].mean())/  df_new['conversionDurationInMillis_cr'].std()
norm_itm = (df_new['impressionTimeInMillis_cr'] - df_new['impressionTimeInMillis_cr'].mean())/  df_new['impressionTimeInMillis_cr'].std()

In [16]:
df_new['conversionDurationInMillis_cr'] = norm_cdm
df_new['impressionTimeInMillis_cr'] = norm_itm

In [17]:
df_new['conversionDurationInMillis_cr']

0      -0.110122
1      -0.110120
2      -0.110101
3      -0.110120
4      -0.109799
          ...
1526   -0.110103
1527   -0.109084
1528   -0.110125
1529   -0.109808
1530   -0.110121
Name: conversionDurationInMillis_cr, Length: 1531, dtype: float64

In [ ]:
ohe.fit_transform(df_new.astype({"clmbuserid_cr":'string',"imprid_cr":'string',"ip":"string"})[columns_to_encode])

<1531x3907 sparse matrix of type '<class 'numpy.float64'>'
	with 24496 stored elements in Compressed Sparse Row format>

In [21]:
df_new = df_new.astype({"clmbuserid_cr":'string',"imprid_cr":'string',"ip":"string"})

In [22]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531 entries, 0 to 1530
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1531 non-null   int64
 1   clientid_cr                    1531 non-null   int64
 2   pubclientid_cr                 1531 non-null   int64
 3   clmbuserid_cr                  1531 non-null   string
 4   imprid_cr                      1531 non-null   string
 5   siteId_cr                      1531 non-null   int64
 6   goalid_cr                      1531 non-null   int64
 7   cityId_cr                      1531 non-null   float64
 8   stateId_cr                     1531 non-null   float64
 9   countryDimId_cr                1531 non-null   float64
 10  browserId_cr                   1531 non-null   float64
 11  adslotdimid_cr                 1531 non-null   int64
 12  conversionDurationInMillis_cr  1531 non-null   float64
 13  impressionTimeInMillis_cr      1531 non-null   float64
 14  ispDimId_cr                    1531 non-null   float64
 15  osVerDimId_cr                  1531 non-null   float64
 16  conversion_fraud               1042 non-null   object
 17  record_id                      489 non-null    float64
 18  ip                             1531 non-null   string
 19  advClientId                    1531 non-null   float64
 20  devTypeDimId                   1531 non-null   float64
dtypes: float64(11), int64(6), object(1), string(3)
memory usage: 251.3+ KB

In [23]:
columns_to_encode = ['clientid_cr','pubclientid_cr', 'clmbuserid_cr', 'imprid_cr',
       'siteId_cr', 'goalid_cr', 'cityId_cr', 'stateId_cr', 'countryDimId_cr',
       'browserId_cr', 'adslotdimid_cr','ispDimId_cr', 'osVerDimId_cr',
       'ip', 'advClientId','devTypeDimId']

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1531 entries, 0 to 1530
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   clientid_cr                    1531 non-null   int64
 1   pubclientid_cr                 1531 non-null   int64
 2   clmbuserid_cr                  1531 non-null   string
 3   imprid_cr                      1531 non-null   string
 4   siteId_cr                      1531 non-null   int64
 5   goalid_cr                      1531 non-null   int64
 6   cityId_cr                      1531 non-null   float64
 7   stateId_cr                     1531 non-null   float64
 8   countryDimId_cr                1531 non-null   float64
 9   browserId_cr                   1531 non-null   float64
 10  adslotdimid_cr                 1531 non-null   int64
 11  conversionDurationInMillis_cr  1531 non-null   float64
 12  impressionTimeInMillis_cr      1531 non-null   float64
 13  ispDimId_cr                    1531 non-null   float64
 14  osVerDimId_cr                  1531 non-null   float64
 15  conversion_fraud               1042 non-null   object
 16  record_id                      489 non-null    float64
 17  ip                             1531 non-null   string
 18  advClientId                    1531 non-null   float64
 19  devTypeDimId                   1531 non-null   float64
dtypes: float64(11), int64(5), object(1), string(3)
memory usage: 291.2+ KB

In [24]:
dataFrame = pd.get_dummies(df_new,columns=columns_to_encode)

In [25]:
dataFrame.head()

   Unnamed: 0  ...  devTypeDimId_264496.0
0           0  ...                      0
1           1  ...                      0
2           2  ...                      0
3           3  ...                      0
4           4  ...                      0

[5 rows x 3912 columns]

In [27]:
dataFrame.shape

(1531, 3912)

In [31]:
train = dataFrame[dataFrame["conversion_fraud"].notnull()]
train.shape

(1042, 3912)

In [46]:
train.drop("record_id",axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [47]:
train.isna().any().any()

False

In [34]:
test = dataFrame[dataFrame["record_id"].notnull()]
test.shape

(489, 3912)

In [42]:
test.drop("conversion_fraud",axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [43]:
test.shape

(489, 3911)

In [48]:
x_train,y_train = train.drop(labels=["conversion_fraud"],axis=1),pd.DataFrame(train["conversion_fraud"])

In [50]:
x_train.shape

(1042, 3910)

In [51]:
x_test = test.drop("record_id",axis = 1)

In [101]:
x_test.shape

(489, 3910)

In [58]:
y_train = y_train.astype({"conversion_fraud":"int"})

In [64]:
y_train[y_train["conversion_fraud"] == 1].shape

(212, 1)

In [61]:
from keras.models import Sequential
from keras.layers import Dense

In [62]:
model = Sequential()
model.add(Dense(3910, input_dim=3910, activation='relu'))
model.add(Dense(1500, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [63]:
model.fit(x_train, y_train, epochs=10, batch_size=16)

Epoch 1/10
66/66 [==============================] - 9s 127ms/step - loss: 13.2312 - accuracy: 0.6019
Epoch 2/10
66/66 [==============================] - 8s 126ms/step - loss: 1.7161 - accuracy: 0.7293
Epoch 3/10
66/66 [==============================] - 8s 126ms/step - loss: 0.4729 - accuracy: 0.8369
Epoch 4/10
66/66 [==============================] - 8s 127ms/step - loss: 0.2537 - accuracy: 0.8917
Epoch 5/10
66/66 [==============================] - 8s 127ms/step - loss: 0.4905 - accuracy: 0.8033
Epoch 6/10
66/66 [==============================] - 8s 127ms/step - loss: 0.1971 - accuracy: 0.9281
Epoch 7/10
66/66 [==============================] - 9s 129ms/step - loss: 0.1582 - accuracy: 0.9356
Epoch 8/10
66/66 [==============================] - 8s 127ms/step - loss: 0.0280 - accuracy: 0.9952
Epoch 9/10
66/66 [==============================] - 8s 127ms/step - loss: 0.3657 - accuracy: 0.9002
Epoch 10/10
66/66 [==============================] - 9s 129ms/step - loss: 0.2113 - accuracy: 0.9238

In [102]:
y_pred = model.predict(x_test) > 0.65

In [104]:
y_pred.shape

(489, 1)

In [105]:
submission = pd.DataFrame(columns=['record_id',"conversion_fraud"])

In [109]:
submission['record_id'] = test['record_id'].values

In [112]:
submission['conversion_fraud'] = y_pred

In [120]:
submission = submission.sort_values('record_id')

In [123]:
submission = submission.drop_duplicates()

In [116]:
submission.drop_duplicates()

      record_id  conversion_fraud
9        1052.0             False
72       1051.0             False
83       1050.0             False
89       1048.0             False
91       1049.0             False
...         ...               ...
1526     1450.0              True
1527     1451.0              True
1528     1452.0              True
1529     1453.0              True
1530     1454.0              True

[459 rows x 2 columns]

In [125]:
submission.to_csv("./submit.csv")

In [126]:
submission.isna().any()

record_id           False
conversion_fraud    False
dtype: bool

      record_id  conversion_fraud
1200     1196.0              True
1201     1197.0              True
1203     1198.0             False
1204     1199.0              True
1205     1200.0              True
1206     1201.0              True
1207     1202.0              True
1208     1203.0              True
1209     1204.0              True
1210     1205.0             False
1211     1206.0              True
1212     1207.0             False
1213     1208.0              True
1214     1209.0              True
1215     1210.0              True
1216     1211.0              True
1217     1212.0              True
1219     1213.0             False
1220     1214.0              True
1221     1215.0             False

In [138]:
temp = submission.drop_duplicates(subset='record_id',keep='last')

In [139]:
temp.shape

(455, 2)

In [142]:
temp = temp.astype({'record_id':'int'})

In [144]:
temp.to_csv("./sub.csv")

In [137]:
temp[temp['conversion_fraud'] > 1]

           conversion_fraud
record_id
1030.0                    2
1031.0                    2
1034.0                    2
1042.0                    2